In [65]:
import pydeck as pdk

# 2014 location of car accidents in the UK
UK_ACCIDENTS_DATA = 'https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/3d-heatmap/heatmap-data.csv'

# Define a layer to display on a map
layer = pdk.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,                 
    coverage=1)

# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Render
r = pdk.Deck(layers=[layer], initial_view_state=view_state)

C:\Users\User\Anaconda3\lib\site-packages\pydeck\bindings\deck.py:79: UserWarning: Mapbox API key is not set. This may impact available features of pydeck.
  'Mapbox API key is not set. This may impact available features of pydeck.', UserWarning)

In [1]:
import pandas as pd

In [59]:
ufc = pd.read_csv('data/data.csv')
ufc.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0.0,...,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0.0,...,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Tony Ferguson,Donald Cerrone,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Red,False,Lightweight,3,0.0,...,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Jimmie Rivera,Petr Yan,Kevin MacDonald,2019-06-08,"Chicago, Illinois, USA",Blue,False,Bantamweight,3,0.0,...,1.0,0.0,0.0,6.0,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Blue,False,Heavyweight,3,0.0,...,2.0,0.0,0.0,3.0,Southpaw,187.96,190.50,264.0,32.0,26.0

In [60]:
# check for duplicate values
ufc.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5139    False
5140    False
5141    False
5142    False
5143    False
Length: 5144, dtype: bool

In [61]:
ufc.dtypes

R_fighter        object
B_fighter        object
Referee          object
date             object
location         object
                 ...
R_Height_cms    float64
R_Reach_cms     float64
R_Weight_lbs    float64
B_age           float64
R_age           float64
Length: 145, dtype: object

In [62]:
red = ufc['R_age'].astype('str')
blue = ufc['B_age'].astype('str')
weight = ufc['weight_class'].astype('str')

In [63]:
# check for null values
ufc.isnull()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
5140,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
5143,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [64]:
ufc.dtypes

R_fighter        object
B_fighter        object
Referee          object
date             object
location         object
                 ...
R_Height_cms    float64
R_Reach_cms     float64
R_Weight_lbs    float64
B_age           float64
R_age           float64
Length: 145, dtype: object

In [58]:
# ufc['likely_winner'] = 
# ufc.head()

In [57]:
from sklearn import tree

features = ufc[[
    
                'B_age',
                'R_age',
    
                'weight_class',
                'no_of_rounds',
                
                'R_wins',
                'R_Stance',
                'R_win_by_KO/TKO',
                'R_win_by_Submission',
                'R_win_by_TKO_Doctor_Stoppage',  
    
                'R_Height_cms',
                'R_Reach_cms',
                'R_Weight_lbs'
    
               ]].values

labels = ufc['Winner'].values

clf = tree.DecisionTreeClassifier() 
# cls = clf.fit(features, labels) 

# prediction
# print(clf.predict([[red,blue,weight,5,8.0,'Orthodox',5,3,9,165.02,163.02,180.02]]))